.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(243, 243, 243);
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: rgb(60, 60, 60);
}

.nav__noti {
  background-color: rgb(230, 100, 100);
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 400;
  position: absolute;
  left: 17px;
  bottom: 17px;
}

.nav__newIcon {
  background-color: rgb(230, 100, 100);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: -12px;
}
